/* Réinitialisation des marges et des rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles de la barre de navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacement équitable entre les éléments */
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Styles du logo */
.logo img {
  width: 80px; /* Largeur du logo augmentée */
  height: auto; /* Hauteur automatique pour maintenir les proportions */
  margin-right: 10px;
}

/* Styles des liens de la nav bar */
.nav-links {
  display: flex;
  list-style: none;
  align-items: center; /* Centrage vertical des options */
}

.nav-links li {
  margin-right: 100px; /* Espacement accru entre les options */
  display: flex; /* Ajout de flex pour aligner les éléments de manière verticale */
  align-items: center; /* Centrage vertical du texte dans chaque option */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px; /* Taille de police augmentée */
  font-weight: bold; /* Gras pour le texte des options */
  transition: color 0.3s; /* Transition fluide pour la couleur de texte */
}

/* Effet de survol */
.nav-links a:hover {
  color: lightgray; /* Couleur de texte en survol */
}

/* Styles des icônes sociales */
.social-icons {
  list-style: none;
  display: flex;
  align-items: center; /* Centrage vertical des icônes */
}

.social-icons li {
  margin-left: 15px; /* Espacement entre les icônes */
}

.social-icons a {
  text-decoration: none;
}

.social-icons img {
  width: 30px; /* Taille des icônes */
  height: auto; /* Hauteur automatique pour maintenir les proportions */
}
